@import 'variables';



body {

    font-family: 'Vollkorn', serif;
    font-weight: 700;
}
.container {
    display: flex;
    flex-direction: row;
    height: 98vh;
    

    .leftSideContent {
        height: 100%;
        width:5%;
        border-right: 1px solid black;
        text-align: center;
        .icon {
            margin-top: 2rem;
            
        }
        .leftContentBtnDiv {
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            
            button {
                padding:1rem 0.7rem;
                border-radius: 15px;
                border:none;
            }
        }
        
    }
    .foodNav {

    
    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: start;
        
        ul {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;
    
         li {
            list-style-type: none;
             margin-right: 4rem;
             &:hover {
                 color: $navLinkhover-color;
             }
            }
        }

        .buttonsDiv {
            
            display:flex;
            margin-top: 1rem;
            
            .navBtn {
                padding: 1rem;
                width:9rem;
                margin-right: 1rem;
                border-radius: 15px;
                border:none;
                font-family: 'Vollkorn', serif;
                font-weight: 700;
                font-size: 1rem;
                outline: none;
                }

            .btnLogin {
                background-color: $btnLoginbg-color;
                color:$btnLoginfont-color;
                
                }
               

            .btnSignup {
                color:$btnLoginbg-color;
                background-color: $btnSignupbg-color;
                }
            }
        }
    }
        
}



