$headerbg-img: url('https://startbootstrap.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg');
$headerbg-color: rgba(10,30,81,0.22);
$buttonbg-color: #1d809f;
$buttonfont-color: #ffffff;
$buttonhoverbg-color:#155d74;
$section1bg-color: #f8f9fa;
$section1btnbg-color:#343a40;
$section1btnhoverbg-color: #23272b;
$section2h3-color:#ecb807;
$section2bg-color:#1d809f;
$section3bg-img: url('https://startbootstrap.github.io/startbootstrap-stylish-portfolio/img/bg-callout.jpg');
